/* global styles */
* {
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
font-smoothing: antialiased;
}

/*
img.grid {
position: absolute;
left: 9%;	
margin-top: 750px;
}
*/



body {
font-family: "calluna", Helvetica Neue, serif;
-webkit-text-size-adjust:100%;
line-height: 1.5em;
font-size: 150%;
overflow-x:hidden;
}


#wrapper {
position: relative;
width:90%;
background: white;
margin: 0 auto;
}

h2 {
font-size: 16px;
text-transform: none;	
}


p {
margin: 1.6em 0 .8em 0;
-webkit-hypens: auto;
color:#484848;
}


a {
text-decoration: none;
color: black;	
}

a:hover {
text-decoration: underline;	
}

figcaption {
color:#666666;
z-index: 1;
font-style: italic;
font-size:10px;
position: relative;
bottom: 40px;
width: 150px;
padding:0 5px;
color: white;
}


/* navigation bar styles */
nav {
background: #2a2a2a;
height:60px;
position: static;
width:100%;
margin-top: -46px;
}

nav img.search, nav img.logo, #main-cats {
position: absolute;	
}

nav img.search {
right:0;
width: 4.5%;
top: 10px;
z-index: 1;
color: white;
}

nav img.logo {
width: 130px; 
left:15px;
top:118px; 
}

#main-cats {
color: #efefef; 
font-size: .6em;
letter-spacing: 2px;
font-family: "museo-sans-condensed"; 
font-weight: 800;
text-transform: uppercase;
left: -35px;
}

#main-cats li {
list-style-type: none;
display: inline;
padding: 22.5px 10px 19px 10px;
border-left:1px dotted grey; 
margin-left: -5.5px;
}

#main-cats li:last-child {
border-right:1px dotted grey;  
}

#main-cats li:hover {
color: #EC380E;  
}


header {
overflow: hidden;
width: 560px;
font-family: 'museo-sans-condensed';
font-size: 15px;
margin:1.6em 0 .8em 0;	
}

.latest-news {
float:left;
text-transform: uppercase;
}

.all-news {
float:right;
text-transform: uppercase;

}


/*Hero shit*/	

.hero {
position: relative;
margin-top: 22.8em;
}


.hero-img{
position: absolute;
width: 100%;
bottom:10px;
right:0;	
opacity: 1;
transition:2s;
-webkit-transition:2s;
}

.hero-hed {
bottom: 200px;
z-index: 1;
color: #fafafa;
font-weight: 700;
font-family: 'calluna-sans';
letter-spacing: 4px;
line-height: 55px;
font-size: 56px;
text-transform: uppercase;
position: absolute;
text-align: center;
margin: 0 auto;
width: 100%;

}

.byline {
font-size: 20px;	
font-family: 'calluna';
text-transform: none;
font-style: italic;
}


/*columns*/

#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	font-size: 35px;
	text-transform: uppercase;
	
}

	
.pin {
display: inline-block;
background: #FEFEFE;
margin: 0 2px 15px;
padding: 15px;
padding-bottom: 5px;
opacity: 1;


-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

.pin:hover {
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
opacity: .8;	
}

.pin img {
width: 100%;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
float:left;
}

.pin p {
font-family: 'museo-sans-condensed';
color: #2a2a2a;
margin: 0;
float:left;
}


.latest-column {
	column-count:1;
	column-rule: 11px solid black;
	margin-right:10px;
	width: 300px;
	float:left;
	-webkit-column-count: 1;
	-webkit-column-fill: auto;
	font-size: 15px;
	line-height: 21px;
	border-right:1px dotted black;
	}






@media (min-width: 640px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}


@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}



/* footer */

footer {
clear: both;
width: 100%;
padding: none;
/*margin: 0 auto;*/
background: #e5e5e5;
}

.footer-body {
border-top: 1px dotted grey;
padding:20px;
color: #2a2a2a;
text-align: center;
}

li.footer-head {
font-size: 15px;
font-family: 'calluna';
font-style: italic;
font-weight: 100;
display: inline;
letter-spacing: 2px;
line-height: 1.4em;
list-style-type: none;
}

.social-icons {
text-align: center;
margin:-30px;
}

.social-icons p {
font-size: 18px;
text-transform: uppercase;
font-family: 'museo-sans-rounded';	
}

img.social-icons {
margin:0 35px;
}





