/*universal*/

body {
  margin:0;
  font: 16px sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

#container {
  max-width: 1280px;
  margin:0;
  padding:0;
}

img {
  max-width: 100%; 
}

.fa {
  cursor: pointer;
  width: 50px;
  text-align: center;
  padding:10px 0;
}

a {
  text-decoration: none;
  color:#2a2a2a;
}

a:hover {
  color:#6B4FB5;
}

/* ---- */


.drawer-left {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  right: 0;
  padding: 20px;
  background:white;
  border-bottom:4px solid black;
  border-right:4px solid black;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: -300px;
  height: 150px;
  width: 250px;
  z-index: 10000;
  
}
.drawer-left.active {
  left: 0;
}

.drawer-left h1, .drawer-right h1 {
  font-family: 'museo-sans-condensed';
  letter-spacing:3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color:black;
}

.drawer-left p, .drawer-right p {
  font-family: 'museo-sans-condensed';
  font-weight:800;
  color:black;
  font-size: 26px;
  margin:0;
  padding:0;
}

.drawer-right {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  right: 0;
  padding: 20px;
  background:white;
  border-bottom:4px solid black;
  border-left:4px solid black;
  position: fixed;
  top: 50px;
  bottom: 0;
  right: -300px;
  height: 150px;
  width: 250px;
  z-index: 10000;
}

.drawer-right.active {
  right: 0;
}

/*spans*/

.top-story span {
  font-size: 15px;
  margin-left:500px;
  color:#9e9e9e;
  font-style: italic;
}

.column-span {
  font-style: italic;
  color:#9e9e9e;
  font-size: 15px;
  margin-top:-15px;
  padding:0;
  font-family: 'museo-sans-condensed';
}

.drawer-span {
  margin:0;
  padding:0;
  color:grey;
  font-style: italic;
  font-size: 10px;
}

/*navigation*/

nav {
  background: #2a2a2a;
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
}

nav ul {
  /*padding:10px 0;*/
}

nav li {
  list-style-type: none;
  color: #fafafa;
  display: inline;
  font-family: 'museo-sans-condensed';
  display: inline;
  font-weight: 800;
  font-size:17px;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1;
}

nav a {
  color: #fafafa;
  background: #2a2a2a;
  text-decoration: none;
  padding:15px 15px 11px 15px;
}

nav a:hover {
  text-decoration: none; 
  transition:.2s all ease;
  border-bottom: 5px solid #6B4FB5;
}

input {
  width: 250px; 
}

#searchform {
  position: absolute;
  right:20px;
  bottom: 13px;
  font-family: 'museo-sans-condensed'; 
}

#chev-right {
  position: absolute;
  right: 0;
  top:40%; 
  z-index: 1;
  color:white;
  background: #2a2a2a;
}

#chev-left {
  position: absolute;
  left: 0;
  top:40%;
  z-index: 1;
  color:white;
  background: #2a2a2a;
}

.burger {
  display: none;
}

#chev-left:hover, #chev-right:hover {
  color:#d3d3d3;
}


/*top story*/

#main {
  margin:0 auto;
  max-width: 1124px;
}

.top-story {
  margin-bottom:1.6em;
}

.top-story img {
  margin-top:4.8em;
  width: 100%;
}

figure {
  position: relative;
}

figure h1 {
  background: #fafafa;
  width: 800px;
  font-size:50px;
  font-family: 'museo-sans-condensed';
  position:absolute;
  bottom: -30px;
  left:10px;
  color: black;
  padding: 10px;
}

figcaption p {
  font-size: 10px;
  position: absolute;
  color:white;
  background: black;
  right:10px;
  bottom:10px;
  padding:10px;
}

/*after the jump*/

.sub-stories {
  margin:0 auto;
  padding-bottom: 50px;
  margin-bottom: 1.6em;
  overflow: hidden;
  background:#f0f0f0;
  border:1px solid #d9d9d9;
}

 .sub-stories h2 {
  text-align: center;
  font-family: 'museo-sans-condensed';
  font-weight: 800;
  letter-spacing: 2px;
  padding:10px;
  margin:0 0 0 .6em;
  background:#2a2a2a;
  color:white;
  max-width: 300px;
  text-transform: uppercase;
}

.columns {
  float:left;
  width: 700px;
}

.column {
  padding:1.6em 0;
  max-width: 700px;
  column-count:2;
  -webkit-column-count:2;
  background: #fafafa;
  margin:.8em 0 0 .8em;
}

.hed {
  margin:0 auto;
}

.hed h2 {
  font-size:25px;
  line-height: 1.3;
  font-family: 'museo-sans-condensed';
  font-weight: 800;
  margin:0 0 -13px 0;
  padding:0 50px 0 0;
  text-align: left;
  color:#2a2a2a;
  background: #fafafa;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: -1px;
  cursor: pointer;
}

.hed p {
  font-weight: lighter;
  font-family: 'calluna'; 
}

.teaser p {
  font-family: 'calluna-sans';
  color: #4d4d4d;
  font-weight: 400;
  padding-right:30px;
  margin-top:.8em;
}

.sub-stories img {
  max-width: 100%;
  margin:0 0 0 .8em;
}

.more {
  max-width: 700px;
  background:black;
  color:white;
  padding:0;
  margin:0 0 0 .8em;
  cursor: pointer;
}

.more:hover {
  background: #EC380E;
}

.more h5 {
  text-align: center;
  font-size: 40px;
  padding:5px;
  margin:0;
  font-family: museo-sans-condensed;
}
/*trending, twitter, ad*/

.sidebar {
  float:right;
  width: 300px;
  margin: 58px 13px 0 0;
  padding:0;
}

.sidebar h4 {
  text-align: center;
  font-family: 'museo-sans';
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
}

.sidebar ul {
  margin:0;
  padding:0 15px;
  list-style-type: none;

}

.sidebar li {
  margin:0;
  padding:15px 30px;
  border-top:1px solid #e8e8e8;
  font-family: 'museo-sans-condensed';
}

.sidebar li:hover {
  background:#EC380E;
  color:white;
}

.sidebar li:last-child {
  border-bottom:1px solid #e8e8e8;
}

.sidebar li.one, .sidebar li.four {
  background-image: url('../img/levelup.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 10%;
}

.popular{
  max-width: 350px;
  height: 500px;
  background: white;
  float: right;
  margin:0 0 40px 0;
}

.popular li {
  cursor: pointer;
}

.ad img {
  max-width: 350px;
  background: white;
  float: right;
  margin:0 0 40px 0;
  padding:0;
}

.twitter {
  max-width: 350px;
  background: white;
  float: right;
  margin:0 0 40px 0;
}

.tweet-box {
  padding:.4em 1.6em;
}

.tweet-handle {
  font-family: 'museo-sans-condensed';
}

.tweet-box h3 {
  text-transform: uppercase;
  font-size: 15px;
  color: #838383;
  letter-spacing: 1px;
  font-family: 'calluna-sans';
  margin:0;
  padding-top:.8em;
  border-top:1px solid #e8e8e8;
}

.tweet-box p {
  font-size: 15px;
  color: #838383;
  font-family: 'calluna';
  padding-bottom:.8em;
  color:black;
}

.tweet-date {
  text-transform: uppercase;
  font-size: 10px;
  color: #838383;
  letter-spacing: 1px;
  font-family: 'calluna-sans';
  margin-top:1px;
  display: block;
}

  /* footer */

footer {
  clear: both;
  background: #2a2a2a;
  position: relative;
  margin:0 auto;
  max-width: 100%;
}
  
footer ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.holder {
  margin: 0 auto;
  padding: 3.2em 1.6em 1.2em 1.6em;
  column-count:3;
  column-fill:fill;
  column-rule: 1px solid #969696;
  -webkit-column-count:3;
  -webkit-column-fill:balance;
  -webkit-column-rule: 1px solid #969696;
}

.col {
  margin:0;
  padding:0;
}

.col h5 {
  margin: 0;
  font-size: .6em;
  letter-spacing: 2px;
  font-family: "museo-sans-condensed";
  font-weight: 600;
  text-transform: uppercase;
  color: #fafafa;
  padding:1px 0px 10px 10px;
  font-size: 20px;
}

.col li {
  padding-left:10px;
  margin:5px 0 0 0;
  font-family: 'museo-sans';
  color:#fafafa;
  font-size: 15px;
}

.col p {
  font-size: 11px;
  line-height: 2; 
  color:#fafafa;
  font-family: 'museo-sans';
  margin:0;
  padding-left:10px;
}

.col a {
  color:#fafafa;
}

.col a:hover {
  color:#6B4FB5;
}


 /*back to top*/

.back-top p{
  color: grey;
  text-align: center; 
  text-transform: uppercase;
  font-family: 'museo-sans-condensed';
  letter-spacing: 1px;
  font-size: 10px;
  margin: 0;
  padding-top: 3.2em;
}

.back-top a {
  text-decoration: none;
}

  .back-top p:hover {
  color:white;
  }

 

/*queries*/

/*media queries*/

@media only screen and (max-width: 1124px) {
img { width: 100%; }

}


@media only screen and (max-width: 768px) {

#container {
  margin: 0;
  width: 100%;
  padding:0;  
}

#searchform 
{ display: none; }

nav ul {
  margin: 0 auto;
  padding: 15px;
}

nav li 
{ font-size: 12px; }

figure h1 {
  font-size: 30px;
  left:150px;
  width: 50%;
}

.top-story img {
  margin:0;
}

.top-story span {
  margin-left:20px;
}

figcaption p{
  display: none;
}

#chev-right, #chev-left {
top:59.2%;
}

.ad {
  display: none;
}

.sidebar {
  float: none;
  margin:0 auto;
  width: 100%;
}

.holder {
  -webkit-column-count:1;
  -moz-column-count:1;
  -ms-column-count:1;
  -o-column-count:1;
  column-count:1;
  padding-top:1.6em;
}

.col h5 
{ display: none; }

.col li 
{ margin:10px 0 12px 0; }

@media only screen and (max-width: 480px) {

nav li 
{ display: none; }

.burger {
  display: block;
  width: 4%;
}

.chevrons {
  display: none;
}

figure h1 {
  font-size: 15px;
  width: 100%;
  margin:0;
  padding:0;
  position: static;
}

.top-story span {
  font-size: 10px;
}

.column {
  margin:5px;
  padding:0;
}

.columns {
  width: 100%;
}

.columns h2 {
  font-size: 12px;
  margin:10px 0 10px 0;
}

}



