* {
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing: antialiased;
}


body {
  line-height: 1.5em;
  -webkit-text-size-adjust:100%;
  width: 8000px;
  color: #2a2a2a;
}

a {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: underline;
}

h1 {
position: relative;
top: -22px;
left: 240px;
padding: 11.5px;
font-family: 'calluna-sans';
letter-spacing: -2px;
font-weight: 200;
color: #2a2a2a;
border-bottom:1px solid #c0c0c0;
}

h1.latest {
width: 161px;
margin-left: -50px;

}

h1.news {
width: 79px;
margin-left: 50px;

}

h1.twitter {
width: 95px;
margin-left:-207px;	

}

h1.blogs {
margin-left: 50px;
width: 175px;	

}


span {
font-family: 'museo-sans-rounded';
color: grey;
margin: 0;
padding:0;
}

span.authorname {
color:#EC380E;
letter-spacing: 1px;
font-size: 15px;
font-weight: 300;
font-family: 'museo-sans-condensed';
text-transform: uppercase;
}

figcaption {
color:#666666;
z-index: 1;
font-style: italic;
font-size:10px;
position: relative;
bottom: 10px;
}


/*sidescroll*/

.panel {
float: left;
padding-left: 200px;
padding-right: 340px;
padding-top: 0;
background: url('../img/pattern-37g8.png');
}

.aside {
position: fixed;
padding-right: 50px;
background: #2A2A2A;
height: 100%;
margin-top: 0;
z-index: 1;
}

.aside li {
list-style-type: none;
color: #fafafa;
margin:1.6em 0;
font-family: 'museo-sans';
font-weight: 800;
font-size:15px;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase;
line-height: 1;
}

.aside li a {
color: #fafafa;
}

.aside li:last-child {
border-bottom: 1px dotted white;
padding-bottom: 40px;
}

img.logo {
position: relative;
right: 0;
top: 370px;
width: 140px;
display: block;
}

#home, #news, #twitter, #blogs {
overflow-x:hidden;
margin-top: 50px;
}

#home {
padding: 0 50px 0 250px;
width: 600px;
}

#news {
padding:0 50px 0 50px;
}

#twitter {
padding:0 50px 0 50px;
}

#blogs {
padding-left: 50px;
}

/*columns*/

/*latest column*/

.latest-column {
padding:1.6em 0 1.6em 0;
}

.big img {
margin-top: .8em;
width: 100%;
}

.hed-big {
width: auto;
}

.hed-big h2, .hed-big p {
font-family: 'calluna';
color: #2a2a2a;
text-align: center;
line-height: 1;
margin:0;
}

.hed-big h2 {
font-size: 40px;
font-weight: 800;
margin-bottom: .8em;
}

.hed-big p {
top:250px;
letter-spacing: 1px;
font-size: 15px;
font-weight: 400;
margin-bottom:1.6em;
}

.teaser-big p {
font-family: 'calluna-sans';
color: #2a2a2a;
margin: 0;
}

/*regular columns*/

.column {
padding-bottom: 1.6em;
padding-top: 1.6em;
width: 700px;
column-count:2;
-webkit-column-count:2;
}


.hed {
color: #2a2a2a;
margin-top: -.8em;
position: relative;
}

.hed h2 {
font-size:30px;
line-height: 1.1;
font-family: 'calluna';
font-weight: 800;
margin:0;
}

img {
max-width: 100%;
}


.section-tag {
color: #EC380E;
font-family: 'museo-sans-condensed';
font-weight: bolder;
width: 100px;
padding:1px;
text-align: center;
font-weight: 600;
border:1px solid #EC380E;
text-transform: uppercase;
position: absolute;
font-size: .6em;
bottom: -153px;
left:0;
letter-spacing: 2px;
}

.teaser p {
font-family: 'calluna-sans';
color: #4d4d4d;
font-weight: 400;
}


/*twitter*/

.tweet-box {
width: 200px;
padding:1.6em 0 1.6em 0;
}

.tweet-box h3 {
text-transform: uppercase;
font-size: 15px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin:0;
}

.tweet-box p {
font-size: 15px;
color: #838383;
font-family: 'calluna';
border-bottom: 1px dotted grey;
padding-bottom:.8em;
color:black;
}

.tweet-date {
text-transform: uppercase;
font-size: 10px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin-top:1px;
display: block;
}

/*blogs*/

.blog-hed {
width: 500px;
padding: 1.6em 0 .8em 0;
}

img.mug {
float:left;
border-radius: 50%;
width: 150px;
height: 150px;
}

.blogger-info {
width: 550px;
padding-left: 200px;
}

.blogger-info h3 {
text-transform: uppercase;
font-size: 15px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin: 0;
}

.blogger-info h4 {
font-size: 40px;		
font-family: 'calluna';
font-weight:800;
margin-top:.4em;
margin-bottom: 0;
line-height: 1;
}

.blogger-info p {
font-family: 'calluna-sans';
font-weight:400;
margin-bottom: 120px;
}
