* {
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
font-smoothing: antialiased;
}

html {	

}

body {
line-height: 1.5em;	
-webkit-text-size-adjust:100%;
/*overflow-x:hidden;*/
width: 8000px; 
color: #2a2a2a;
}

a {
text-decoration: none;
color: black;	
}

a:hover {
text-decoration: underline;	
}

h1 {
border-bottom: 1px dotted grey;	
width: 750px;
}

span {
font-family: 'museo-sans-rounded';
color: grey;	
}

.authorname {
color:#EC380E;
letter-spacing: 1px;
font-size: 15px;
font-weight: 300;	
font-family: 'museo-sans-condensed';
text-transform: uppercase;
}

figcaption {
color:#666666;
z-index: 1;
font-style: italic;
font-size:10px;
position: relative;
bottom: 15px;
}



/*sidescroll*/

.panel {
float: left; 
padding-left: 300px; 
padding-right: 340px; 
padding-top: 0;
background: url('../img/pattern-37g8.png');	
} 

.aside {
position: fixed;
padding-right: 50px;
background: #501F84;
height: 100%;
margin-top: 0;

}

.aside li {
list-style-type: none;
margin:1.6em 0;
font-family: 'museo-sans-rounded';
font-weight: 800;
font-size:15px;
letter-spacing: 1px;
text-align: center;
line-height: 1;
text-transform: uppercase;
}

.aside li a {
color: #fafafa;
background: #501F84;
}

.aside li:last-child {
border-bottom: 1px dotted white;
padding-bottom: 40px;	
}
	img.logo {
	position: relative;
	right: 0;
	top: 570px;
	width: 140px;
	display: block;
	}

#home, #news, #twitter, #blogs {
overflow-y:scroll;
overflow-x:hidden;
}

#home {
width: 300px;	
}

#news {
width: 450px;	
}

#twitter {
width: 250px;
padding-right: 50px;
}

#blogs {	

}



/*columns*/

/*latest column*/

#home h1, #news h1, #twitter h1, #blogs h1 {
font-size: 50px;
text-transform: uppercase;
color: #501F84;
font-family: 'museo-sans-rounded';
font-weight: 100;
padding-bottom: .4em;
width: 570px;
}

.latest-column {
-webkit-column-count: 1;
-webkit-column-gap: 10px;
-webkit-column-fill: auto;
-moz-column-count: 2;
-moz-column-gap: 10px;
-moz-column-fill: auto;
column-count: 1;
column-gap: 15px;
column-fill: auto;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
display: inline-block;
padding-bottom: .8em;
margin:.4em 0 1.6em 0;
border-bottom: 1px dotted grey;
}

.big img {
width: 100%;
margin-top: .8em;	
}

.hed-big {
width: 572px;
}

.hed-big h2, .hed-big p {
font-family: 'museo-sans-condensed';
text-transform: uppercase;
color: #2a2a2a;
text-align: center;
line-height: 1;
top:50px;
margin:0;
}

.hed-big h2 {
letter-spacing: 1px;
font-size: 40px;
font-weight: 200;
margin-bottom: .8em;	
}

.hed-big p {
top:250px;
letter-spacing: 1px;
font-size: 15px;
font-weight: 300;
margin-bottom:1.6em;
}

.teaser-big p {
font-family: 'calluna';
color: #2a2a2a;
margin: 0;	
}

/*regular columns*/

.column {
-webkit-column-count: 2;
-webkit-column-gap: 10px;
-webkit-column-fill: auto;
-moz-column-count: 2;
-moz-column-gap: 10px;
-moz-column-fill: auto;
column-count: 2;
column-gap: 10px;
column-fill: auto;
-webkit-column-break-inside: avoid;
-moz-column-break-inside: avoid;
column-break-inside: avoid;
padding-bottom: 1.6em;
padding-top: 1.6em;
height: 200px;
display: block;
}


.hed {	
color: #2a2a2a;
margin-top: -40px;
}

.hed h2 {
font-size:20px;
line-height: 1.1;
font-family: 'museo-sans-condensed';
font-weight: 200;
}

.hed p{
font-family: 'museo-sans-condensed';
font-weight: 200;
font-size: 15px;
}


img {
max-width: 100%;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
float: left;
}

.teaser p {
font-family: 'calluna';
color: #2a2a2a;
float: left;
}

/*twitter*/

.tweet-box {

width: 200px;
padding:.8em;
}

.tweet-box h3 {
text-transform: uppercase;
font-size: 15px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin:0;	
}

.tweet-box p {
font-size: 15px;
color: #838383;
font-family: 'calluna';
border-bottom: 1px dotted grey;	
padding-bottom:.8em;
color:black;
}

.tweet-date {
text-transform: uppercase;
font-size: 10px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin-top:1px;
display: block;
}


/*blogs*/

.blog-hed {
width: 500px;
}

img.mug {
float:left;
border-radius: 50%;
width: 150px;
height: 150px;
margin-bottom: 90px;
}

.blogger-info {
float:right;
width: 250px;
padding-left: 50px;

}

.blogger-info h3 {
text-transform: uppercase;
font-size: 15px;
color: #838383;
letter-spacing: 1px;
font-family: 'calluna-sans';
margin: 0;	
}

.blogger-info h4 {
font-size: 40px;
font-family: 'museo-sans-condensed';
font-weight:200;
margin-top:.4em;
margin-bottom: 0;
line-height: 1;
}

.blogger-info p {
letter-spacing: 1px;
font-family: 'museo-sans-condensed';
font-weight:200;	
font-style: italic;
margin-bottom: 120px;

}



/*navigation bar styles 
nav {
background: #2a2a2a;
height:60px;
position: fixed;
width:100%;
}

nav img.search, nav img.logo, #main-cats {
position: absolute;	
}

nav img.search {
right:0;
width: 4.5%;
top: 10px;
z-index: 1;
color: white;
}

nav img.logo {
width: 130px; 
left:15px;
top:118px; 
}

#main-cats {
color: #efefef; 
font-size: .6em;
letter-spacing: 2px;
font-family: "museo-sans-condensed"; 
font-weight: 800;
text-transform: uppercase;
left: -35px;
}

#main-cats li {
list-style-type: none;
display: inline;
padding: 22.5px 10px 19px 10px;
border-left:1px dotted grey; 
margin-left: -5.5px;
}

#main-cats li:last-child {
border-right:1px dotted grey;  
}

#main-cats li:hover {
color: #EC380E;  
}




/*Hero shit

.hero-holder {
position: relative;
max-width:90%;
margin: 0 auto;
}


.hero-image {
position: relative;
margin-top: 22.8em;
}


img.hero {
position: absolute;
width: 100%;
bottom:10px;
right:0;	
opacity: 1;
transition:2s;
-webkit-transition:2s;
}

img.hero:hover {
opacity: .9;
transition:2s;
-webkit-transition:2s;
}

.hero-hed {
bottom: 100px;
left: 50%;
z-index: 1;
padding: .4em;
color: #fafafa;
font-weight: 700;
font-family: 'calluna-sans';
letter-spacing: 2px;
line-height: 55px;
font-size: 50px;
text-transform: uppercase;
position: absolute;
text-align: center;
}

.byline {
font-size: 20px;	
font-family: 'calluna';
text-transform: none;
font-style: italic;
}






*/

/*

@media (min-width: 640px) {
#columns {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}


@media (min-width: 1100px) {
#columns {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
}





